AUTH_LOGIN_URL=http://localhost:3050/auth/login
AUTH_REFRESH_URL=http://localhost:3050/auth/refresh
AUTH_REQUEST_PASSWORD_CHANGE_URL=http://localhost:3050/auth/request-password-change
AUTH_CHANGE_PASSWORD_URL=http://localhost:3050/auth/change-password
USERS_ME_URL=http://localhost:3050/users/me
BACKEND_BASE_URL=http://localhost:3050
API_BASIC_AUTH_USER=clinica-api
API_BASIC_AUTH_PASSWORD=senha-super-segura
